:root {
  --title-color: #1a1349;
  --title-font: Verdana, serif;
  --default-border-color: #61a6c8;
  --menu-spacing: 30px;
}

html {
  min-height: 100%;
}

body {
  font-family: Verdana, sans-serif;
  min-height: 100%;
  background-image: url("/static/images/home/fuglefjorden_2022_white.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  text-align: left;
}

h1 {
  font-family: var(--title-font);
  color: var(--title-color);
}

h2 {
  font-family: var(--title-font);
  color: var(--title-color);
}

h3 {
  font-family: var(--title-font);
  color: var(--title-color);
}

.website_text {
  text-align: center;
}

.semi_full_screen {
  position: fixed;
  width: 100%;
  height: calc(100% - var(--menu-spacing));
  left: 0;
  bottom: 0;
}

.semi_full_screen_top_prio {
  position: fixed;
  width: 100%;
  height: calc(100% - var(--menu-spacing));
  top: var(--menu-spacing),
    left: 0;
}

.info_section {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  border-top: 6px solid #61a6c8;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
}

.info_section_col {
  flex: 50%;
}

.top_menu {
  display: flex;
  width: 400px;
  max-width: 94vw;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
}

.menu_button {

  /*border: 1px solid black;
  background-color: #c8c3ea; */
  border-right: 1px solid black;
  white-space: nowrap;
  color: #1a1349;
  margin-left: 1px;
  margin-right: 1px;
  flex: 10%;
  text-align: center;
  text-decoration: none;
}

.inline_image {
  max-width: 100vw;
  max-height: 400px;
}

.close_button {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  background: lightgray;
  text-decoration: none;
  color: black;
  font-size: 20px;
  z-index: 1000;
  top: calc(var(--menu-spacing) + 5px);
  position: fixed;

}